@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <div class="top-row px-4">
            <a href="https://github.com/Shando/blazor-monaco-ide" target="_blank" class="ml-md-auto">Web IDE for the Chloe 280se computer (SE Basic IV)</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
